<a href="https://colab.research.google.com/github/matkeii/THC/blob/main/Clase_12_octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def mi_funcion(x):
  pass #se sigue del paso anterior

In [ ]:
numbers = [5,12,8,3]
max_num = max(numbers)
min_num = min(numbers)

In [3]:
num=3.123575
round(num,3)

3.124

In [4]:
x = lambda a : a + 10  #a es la entrada : x es la funci贸n
print(x(5))

15

In [5]:
x = lambda a,b,c : a+b+c
print(x(5,2,8))

15

In [9]:
def mifunc(n):
  return lambda a : a*n #a una funci贸n se le agrega otra funci贸n (composici贸n)( f(g(x)) )

midoble = mifunc(2)

print(midoble(11))

22

In [12]:
def mifunc(n):
  return lambda a : a*n

midoble = mifunc(2)
mitriple = mifunc(3)

print(midoble(11))
print(mitriple(11))

22
33

In [85]:
def mi_func(list):
  for x in range(1,101):
    if x%2 == 0:
      print(x)
      #lista.append(x)
  return x
mi_func(list)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

100