<a href="https://colab.research.google.com/github/matkeii/THC/blob/main/Clase_10_oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisdict= {
    "brand": "Ford",
    "model": "mustang",
    "year 1": 1964,
    "year 2": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year 1': 1964, 'year 2': 2020}

In [ ]:
diccionario = {'python': 2.7, 'zope': 2.13, 'plone': 5.7}
1==[]
for i in diccionario.keys
prin(1)

SyntaxError: ignored

In [ ]:
import pandas as pd

#CREAR UN DICCIONARIO CON DATOS
datos = {
    "Nombre": ["juan", "maría", "pedro", "luisa"],
    "Edad": [25,28,32,44],
    "Ciudad": ["madrid", "barcelona", "valencia", "sevilla"]
}
#CREAR UN DATAFRAME A PARTIR DE UN DICCIONARIO
dataframe = pd.DataFrame(datos)
#IMPRIMIR EL DATA FRAME
print(dataframe)

  Nombre  Edad     Ciudad
0   juan    25     madrid
1  maría    28  barcelona
2  pedro    32   valencia
3  luisa    44    sevilla

In [ ]:
#CREAR UNA TUPLA
mi_tupla = (1,2,3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)

In [ ]:
frutas = ("mango", "sandía", "pepino")
for fruta in frutas:
  print(fruta)

mango
sandía
pepino

In [ ]:
frutas = ("mango", "sandía", "pepino", "manzana")
if 'manzana' in frutas:
  print('La manzana si está en la tupla.')

La manzana si está en la tupla.

In [ ]:
def mi_funcion():
  print("Hola, te saludo desde la función")

In [ ]:
mi_funcion()

Hola, te saludo desde la función

In [ ]:
def mi_funcion_nueva(fname):
  print("Hola "+fname+ " te saludo desde la función.")

mi_funcion_nueva("Pau")

Hola Pau te saludo desde la función

In [ ]:
def Nombre(fname,lname):
  print("Hola "+fname+ " "+lname+ " te saludo desde la función.")

Nombre("Pau", "Ramos Reyes")

Hola Pau Ramos Reyes te saludo desde la función.

In [ ]:
def mi_funcion(*kids):
  print("El niño menor es "+ kids[2])

mi_funcion("Emil", "Tobias", "Linus")

El niño menor es Linus

In [51]:
A =[1,2,3]
B =[4,5,6]
def sum_vec(A,B):
  if len(A)==len(B):
    n =len(A)
    C= n*[0.0]
    for i in range(n):
      C[i]= A[i] + B[i]
  else:
    print("sin resultado.")
  print(C)

sum_vec(A,B)

[5, 7, 9]