<a href="https://colab.research.google.com/github/matkeii/THC/blob/main/Clase_17_octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import math
p = [3,3]
q = [6,12]

print(math.dist(p, q))

9.486832980505138

In [ ]:
#(math.isinf)(math.inf) -----------> (infinito)
#float("inf")

In [8]:
import random

random.seed(22)
print(random.random())

0.9582093798172728

In [10]:
import random

print(random.randint(3, 9))

4

In [11]:
import random

mylist =["apple", "banana", "cherry"]
print(random.choice(mylist))

apple

In [12]:
#GENERAR MATRICES 2.0
A = [[1,2,3],[4,5,6],[7,8,9]]
B = [[10,11,12],[13,14,15],[16,17,18]]
print(A,B)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]] [[10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [13]:
A = [[1,2,3],[4,5,6],[7,8,9]]
B = [[10,11,12],[13,14,15],[16,17,18]]
print(A[0][2])

3

In [33]:
A = [[1,2,3],[4,5,6],[7,8,9]]
for i in range (len(A)):
  for j in range(len(A)):
    print(A[i][j]) #se mueve por renglones

1
2
3
4
5
6
7
8
9

In [34]:
A = [[1,2,3],[4,5,6],[7,8,9]]
for j in range (len(A)):
  for i in range(len(A)):
    print(A[i][j])  #se mueve por columnas

1
4
7
2
5
8
3
6
9

In [42]:
A = [[1,2,3],[4,5,6],[7,8,9]]
B = [[10,11,12],[13,14,15],[16,17,18]]
for i in range (len(A)):
  for j in range(len(A)):
    print(A[i][j] + B[i][j])

11
13
15
17
19
21
23
25
27

In [41]:
A = [[1,2,3],[4,5,6],[7,8,9]]
B = [[10,11,12],[13,14,15],[16,17,18]]
for i in range (len(A)):
  for j in range(len(A)):
    print(A[i][j] * B[i][j])

10
22
36
52
70
90
112
136
162

In [46]:
A = [5,2,1,8]
5>2
A = [2,5,1,8]
5>1
A = [2,1,5,8]
2>1
A = [1,2,5,8]

print(A)

[1, 2, 5, 8]

In [48]:
A = [5,4,3,2,1]
5>4
A = [4,5,3,2,1]
5>3
A = [4,3,5,2,1]
5>2
A = [4,3,2,5,1]
5>1
A = [4,3,2,1,5]

A = [4,3,2,1]
4>3
A = [3,4,2,1]
4>2
A = [3,2,4,1]
4>1
A = [3,2,1,4]

A = [3,2,1]
3>2
A = [2,3,1]
3>1
A = [2,1,3]

A = [2,1]
2>1
A = [1,2]

print(A)

[1, 2]

In [63]:
l = [5,4,3,2,1]
n = len(l)
for i in range(n-1):
  if l[i]>l[i+1]:
    print(l)
    aux = l[i+1]
    l[i+1] = l[i]
    l[i] = aux
    print(l)

[5, 4, 3, 2, 1]
[4, 5, 3, 2, 1]
[4, 5, 3, 2, 1]
[4, 3, 5, 2, 1]
[4, 3, 5, 2, 1]
[4, 3, 2, 5, 1]
[4, 3, 2, 5, 1]
[4, 3, 2, 1, 5]