<a href="https://colab.research.google.com/github/matkeii/THC/blob/main/Clase_12_octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def mi_funcion(x):
  pass #se sigue del paso anterior

In [ ]:
numbers = [5,12,8,3]
max_num = max(numbers)
min_num = min(numbers)

In [3]:
num=3.123575
round(num,3)

3.124

In [4]:
x = lambda a : a + 10  #a es la entrada : x es la función
print(x(5))

15

In [5]:
x = lambda a,b,c : a+b+c
print(x(5,2,8))

15

In [9]:
def mifunc(n):
  return lambda a : a*n #a una función se le agrega otra función (composición)( f(g(x)) )

midoble = mifunc(2)

print(midoble(11))

22

In [12]:
def mifunc(n):
  return lambda a : a*n

midoble = mifunc(2)
mitriple = mifunc(3)

print(midoble(11))
print(mitriple(11))

22
33

In [85]:
def mi_func(list):
  for x in range(1,101):
    if x%2 == 0:
      print(x)
      #lista.append(x)
  return x
mi_func(list)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

100

In [87]:
name = "Elsa"
carac = ["#", "&", "¡", "%"]
for letra in name:
  print(letra)
list(letra)

def mi_func(name,carac):
  return lambda a : letra + carac

E
l
s
a

In [97]:
#GENERAR MATRICES
A = [[1,2,3], [4,5,6], [7,8,9]]
print(A)
print(A[0][0],A[0][1],A[0][2]) #imprime los términos empezando por 0 tal que 1=0 y 2=1

for j in range(len(A)):
  print(A[0][j])
  print(A[j][0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1 2 3
1
1
2
4
3
7

In [96]:
A = [[1,2,3], [4,5,6], [7,8,9]]
for i in range(len(A)):
  for j in range(len(A)):
    print(A[i][j])

1
2
3
4
5
6
7
8
9

In [98]:
A = [[1,2,3], [4,5,6], [7,8,9]]
B = [[1,2,3], [4,5,6], [7,8,9]]
for i in range(len(A)):
  for j in range(len(A)):
    print(A[i][j] + B[i][j])

2
4
6
8
10
12
14
16
18

In [99]:
A = [[1,2,3], [4,5,6], [7,8,9]]
B = [[1,2,3], [4,5,6], [7,8,9]]
for i in range(len(A)):
  for j in range(len(A)):
    print(A[i][j] * B[i][j])

1
4
9
16
25
36
49
64
81